<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createBlogServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.createBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBlogServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.deleteBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.EditBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>com.shikshasetu.servlet.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EdiitQuestionSevlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.EdiitQuestionSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSolvedPaperServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.AddSolvedPaperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAppServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.addAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAppSourceCodeServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.AddAppSourceCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNotificationServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.AddNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteNotificationServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.deleteNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlogServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.SearchBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.SearchQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAppServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.SearchAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexPageSearchServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.indexPageSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpVerifyServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.OtpVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswardOtpServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.ResetPasswardOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileEditServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.ProfileEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAppServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.UpdateAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBoardNameServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.AddBoardNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExamCategory</servlet-name>
        <servlet-class>com.shikshasetu.servlet.AddExamCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCourseName</servlet-name>
        <servlet-class>com.shikshasetu.servlet.AddNewCourseName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvanceSearchServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.AdvanceSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>backUpServlet</servlet-name>
        <servlet-class>com.shikshasetu.servlet.backUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionLink</servlet-name>
        <servlet-class>com.shikshasetu.servlet.AddQuestionLink</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createBlogServlet</servlet-name>
        <url-pattern>/createBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBlogServlet</servlet-name>
        <url-pattern>/deleteBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPage.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>EditBlogServlet</servlet-name>
        <url-pattern>/EditBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EdiitQuestionSevlet</servlet-name>
        <url-pattern>/EdiitQuestionSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSolvedPaperServlet</servlet-name>
        <url-pattern>/AddSolvedPaperServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAppServlet</servlet-name>
        <url-pattern>/addAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAppSourceCodeServlet</servlet-name>
        <url-pattern>/AddAppSourceCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNotificationServlet</servlet-name>
        <url-pattern>/AddNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteNotificationServlet</servlet-name>
        <url-pattern>/deleteNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlogServlet</servlet-name>
        <url-pattern>/SearchBlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <url-pattern>/SearchQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAppServlet</servlet-name>
        <url-pattern>/SearchAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexPageSearchServlet</servlet-name>
        <url-pattern>/indexPageSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpVerifyServlet</servlet-name>
        <url-pattern>/OtpVerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswardOtpServlet</servlet-name>
        <url-pattern>/ResetPasswardOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileEditServlet</servlet-name>
        <url-pattern>/ProfileEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAppServlet</servlet-name>
        <url-pattern>/UpdateAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBoardNameServlet</servlet-name>
        <url-pattern>/AddBoardNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExamCategory</servlet-name>
        <url-pattern>/AddExamCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCourseName</servlet-name>
        <url-pattern>/AddNewCourseName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvanceSearchServlet</servlet-name>
        <url-pattern>/AdvanceSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>backUpServlet</servlet-name>
        <url-pattern>/backUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionLink</servlet-name>
        <url-pattern>/AddQuestionLink</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
